@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}

.background-img {
    background-image:
        linear-gradient(to bottom, black 1%, transparent 50%),
        linear-gradient(to top, black 1%, transparent 50%),
        linear-gradient(to left, black 1%, transparent 9%),
        linear-gradient(to right, black 1%, transparent 9%),
        url("images/background.jpg");
    background-size: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-color: #0d0d0d;
}

.gold-button {
    @apply bg-regal-blue hover:bg-regal-gold
    text-regal-gold font-bold hover:text-regal-blue uppercase
    py-3 px-4 md:p-4 text-xl
    border border-regal-gold hover:border-transparent
    rounded-full;
}

.receive-radio {
    @apply inline-flex items-center justify-between w-full p-5
    cursor-pointer dark:hover:text-regal-gold
    dark:border-regal-gold dark:peer-checked:text-regal-gold
    dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700
}
